*{
    font-family: pretendard;
    margin: 0px;
}

div.outerheader{
width: 100%;
}

table.header{
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    height: 79px;

    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    min-width: 1280px;
    max-width: 1280px;
    width: 100%;
}

table.header td.logo{
    min-width: 198px;
    width: 198px;
    text-align: left;
    font-weight: 900;
    font-size: 25px;
    padding-left: 10px;
}

table.header td.menu{
    text-align: center;
    margin: 0%;
    padding: 0%;
    min-width: 700px;
}   

table.header td.menu ul.menu{
    text-align: left;
    list-style: none;
    color: #d8d8d8;
    font-weight: 500;
    font-size: 16px;
}

table.header td.menu ul.menu li{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 80px;
}

table.header td.signin{
    text-align: center;
    margin: 0%;
    padding: 0%;
    min-width: 400px;
    width: 400px;
}

table.header td.signin ul.signin{
    float: right;
    list-style: none;
    color: #202020;
    font-weight: 500;
    font-size: 16px;

}

table.header td.signin ul.signin li{
    text-align: center;
    display: inline;
    padding: 0 30px;
    line-height: 80px;
}

table.header td.signin ul.signin li:first-child{
    padding-left:0;
}

table.header td.signin ul.signin li:last-child{
    padding-right: 10px;
}

table.header ul.menu a.link{
    text-decoration: none;
    color: lightgray;
    position: relative;
    transition: all 0.5s ease-in-out;
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 23px;
        line-height: 40px;
        content: attr(title);
        color: lightgray;
        border-bottom: 2px solid #261900;
        max-width: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    &:hover{
        color: #261900;
        transition: 0.5s;
    }
    &:hover::after{
        color: #261900;
        transition: all 0.5s ease-in-out;
        max-width: 100%;
    }
}

table.header ul.menu a.active{
    text-decoration: none;
    color: #261900;
    position: relative;
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 23px;
        line-height: 40px;
        content: attr(title);
        color: #261900;
        border-bottom: 2px solid #261900;
        max-width: 100%;
        overflow: hidden;
    }
}


/*logo*/
table.header td.logo a.main{
    color:#202020;
    text-decoration: none;
}
/*logo*/


/*line*/
p.line{
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    margin-bottom: 160px;
}
/*line*/