*{
    font-family: pretendard;
    margin: 0;
    padding: 0;
}

div.outerheader{ /*외곽 테두리*/
    width: 100%;
    background-color: #FBFAF8; /* 배경 색상과 동일하게 */
}

table.header{
    -webkit-touch-callout: none; user-select: none; -moz-user-select: none; -ms-user-select: none; webkit-user-select: none; /*헤더 쪽 마우스 올리면 I 자로 변하는 거 잠금*/

    height: 79px; /* 높이80px(-line 1px) */
    margin: 0 auto; /* 헤더 중앙 정렬 */
    overflow: auto; /* 창이 1280px보다 좁아지면 걍 잘리고 스크롤 생기게 */
    min-width: 1280px; max-width: 1280px; /* width: 1280px */

    & td.logo{ /* Moodi. 로고 */
        min-width: 148px; width: 148px; /* 가로 크기 맞추기 */
        text-align: left; /* 텍스트 왼쪽 정렬 */
        font-weight: 900; /* 두께 최대 */
        font-size: 25px; /* 폰트 사이즈 25px */
        padding-left: 10px; /* 좌측 여유 10px */
        & a.main{
            color: #261900; text-decoration: none; /* 하이퍼링크 시 변경되는 텍스트 세팅 초기화*/
        }
    }

    & td.menu{ /* 메인 메뉴 */
        text-align: center; /* 텍스트 가운데 정렬 */
        margin: 0; padding: 0; /* 마진, 패딩 초기화 */
        min-width: 700px; /* 메뉴 전체 너비 700px */

        & ul.menu{ /* 메뉴 리스트 */
            list-style: none; /* 메뉴 리스트 스타일 삭제 */
            color: lightgray; font-weight: 500; font-size: 16px; /* 텍스트 기본 세팅 */

            & li{ /* 개별 메뉴 */
                display: inline; /* 메뉴 한 줄로 나열 */
                padding: 0 30px; /* 좌우 패딩 30px */
                line-height: 80px; /* 글씨 세로 가운데 정렬 */

                & a.link{ /* 버튼 (비활성화) */
                    text-decoration: none; /* 텍스트 기본으로 초기화 */
                    color: lightgray; /* 텍스트 색상 (기본) */
                    position: relative;
                    transition: all 0.4s ease-in-out; /* 변화 애니메이션 시간 */
                    &::after{ /* 버튼 밑줄 (비활성화) */
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%; /* 가로 너비 부모 객체의 100% */
                        height: 23px; /* 상단에서 아래로의 간격 */
                        content: attr(title);
                        border-bottom: 2px solid lightgray; /* 밑줄 색상 */
                        max-width: 0; /* 밑줄 닫기 */
                        transition: all 0.4s ease-in-out; /* 변화 애니메이션 시간 */
                    }
                    &:hover{ /* 버튼 (활성화) */
                        color: #261900; /* 글씨 색상 변화 */
                        transition: all 0.4s ease-in-out;  /* 변화 애니메이션 시간 */
                    }
                    &:hover::after{ /* 버튼 밑줄 (활성화) */
                        border-bottom: 2px solid #261900; /* 밑줄 색상 변경 */
                        transition: all 0.4s ease-in-out; /* 변화 애니메이션 시간 */
                        max-width: 100%; /* 밑줄 열기 */
                    }
                }
                & a.active{ /* 버튼 (강조) */
                    text-decoration: none;
                    color: #261900; /* 텍스트 색상 (강조) */
                    position: relative;
                    &::after{ /* 버튼 밑줄 (강조) */
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%; /* 가로 너비 부모 객체의 100% */
                        height: 23px; /* 상단에서 아래로의 간격 */
                        content: attr(title);
                        border-bottom: 2px solid #261900; /* 밑줄 색상 */
                        max-width: 100%; /* 밑줄 열기 */
                    }
                }
            }
        }
    }

    & td.signin{ /* 가입 관련 메뉴 */
        text-align: center; /* 텍스트 가운데 정렬 */
        margin: 0; padding: 0; /* 마진, 패딩 초기화 */
        min-width: 400px; width: 400px; /* 메뉴 전체 너비 400px */

        & ul.signin{ /* 가입 관련 메뉴 리스트 */
            float: right; /* 리스트 헤더 오른쪽으로 몰기 */
            list-style: none; /* 메뉴 리스트 스타일 삭제 */
            color: #202020; font-weight: 500; font-size: 16px; /* 텍스트 기본 세팅 */

            & li{ /* 가입 관련 개별 메뉴 */
                text-align: center; /* 텍스트 가운데 정렬 */
                display: inline; /* 메뉴 한 줄로 나열 */
                padding: 0 30px; /* 좌우 간격 30px */
                line-height: 80px; /* 글씨 세로 가운데 정렬 */
                &:last-child{ padding-right: 10px; } /* 우측 여유 10px */
            }
        }
    }
} 


p.line{ /* 라인 */
    width: 100%; /* 가로 전체 */
    height: 2px; /* 세로 1px */
    background-color: lightgray; /* 색상 설정 */
}